.btn {
  margin: 0;
  text-align: center;
  border: none;
  background: #2f2f2f;
  color: #888;
  padding: 0 4px;
  border-top: 1px solid #0a0a0a;
  outline: none;
}

.mini-map {
  position: absolute;
  bottom: 25px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
